#b{
  background-image: url('https://media0.giphy.com/media/CGZGV8wix4lvJn3dxy/giphy.gif?cid=790b76115f950c1cfc47ed7784f9325632445dff29d6556e&rid=giphy.gif&ct=g');
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}
